PORT=3000
DB_HOST=localhost
DB_PORT=1433
DB_NAME=trocaticket
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=seu_email@gmail.com
SMTP_PASS=sua_senha_de_app
SMTP_FROM=TrocaTicket <seu_email@gmail.com>

# Exemplo Outlook
# SMTP_HOST=smtp-mail.outlook.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=seu_email@outlook.com
# SMTP_PASS=sua_senha_de_app
# SMTP_FROM=TrocaTicket <seu_email@outlook.com>
